<h1>Marvel Films</h1>
<p>Scraped from https://www.marvel.com/movies</p>
<br>
<table>
  <tr>
    <th>Film</th>
    <th>Date</th>
  </tr>

  <% @marvel_scraper.each do |film| %>
    <tr>
      <td><%= film[0] %></td>
      <td><%= film[1] %></td>
    </tr>
  <% end %>
</table>
