<h1>Marvel Films</h1>
<p><%= link_to "Scrape films  from Marvel", marvel_films_scraper_index_path %></p>
<p><%= link_to "Scrape images from Google", google_images_scraper_index_path %></p>
<p><%= link_to "Scrape images from Marvel", marvel_images_scraper_index_path %></p>
