<h1>Marvel Films</h1>
<p><%= link_to "Scrape Film list from Marvel", marvel_films_scraper_index_path %></p>
<p><%= link_to "Scrape images from Google", google_image_scrape_path %></p>
<p><%= link_to "Scrape images from Marvel", marvel_image_scrape_path %></p>
